<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pass Report</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  <style>
    body { background-color: #f4f4f4; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    .container, .custom-container { margin-top: 20px; color: #333; }
    .navbar { background-color: #343a40; padding: 1rem 0; }
    .navbar-brand { color: #fff; font-size: 1.5rem; font-weight: bold; }
    .navbar-nav .nav-link { color: #ddd; }
    .navbar-nav .nav-link:hover { color: #fff; }
    h2 { color: #343a40; }
    .btn { color: #fff; font-weight: bold; margin-bottom: 10px; }
    .btn-primary { background-color: #007bff; }
    .btn-success { background-color: #28a745; }
    .btn-info { background-color: #17a2b8; }
    .narrow-column { width: 100px; }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">WHITEBOARD</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="custom-container">
    <h2>Pass Report</h2>
    {{#each courses}}
      <div class="mt-5">
        <h3>{{this.courseCode}} - {{this.courseDescription}}</h3>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col" class="narrow-column">Assignment 1</th>
              <th scope="col" class="narrow-column">Assignment 2</th>
              <th scope="col" class="narrow-column">CAT 1</th>
              <th scope="col" class="narrow-column">CAT 2</th>
              <th scope="col" class="narrow-column">Exam</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.students}}
              <tr>
                <td>{{this.idNumber}}</td>
                <td>{{this.firstName}} {{this.lastName}}</td>
                <td>{{this.email}}</td>
                <td>{{this.assignment1}}</td>
                <td>{{this.assignment2}}</td>
                <td>{{this.CAT1}}</td>
                <td>{{this.CAT2}}</td>
                <td>{{this.Exam}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/each}}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
